<!DOCTYPE html>
<html>
<head>
    <title>Deleted Todo</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }
        
        h1 {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Todo smazáno</h1>
    <p>Toto todo bylo nedávno smazáno - asi to nebylo zde, ale jelikož máme progresivní web a používáme websockety, tak se změna propsala i sem.</p>
</body>
</html>